<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Page</title>
    <th:context th:replace="base :: resources"></th:context>

</head>
<body>
    <div th:replace="base :: header"></div>
    <main class="container container-fluid">
        <h1 class="text-info text-center ">QUAN LY SAN PHAM</h1>
        <div class="mt-2 mb-2">
            <a class="btn btn-success" th:href="@{/products}">Them san pham</a>
        </div>
        <div>
            <form th:action="@{/}">
                <div class="form-floating mb-3 mt-3 p-3">
                    <input type="text" class="form-control" id="kw" placeholder="Nhap tu khoa" name="kw">
                    <label for="kw">Nhap tu khoa</label>
                </div>
                <div class="form-floating mt-3 mb-3 row">
                    <div class="col-md-6 col-12 p-3">
                        <input type="number" class="form-control" id="fromPrice" placeholder="Nhap gia min" name="fromPrice">
                        <label for="fromPrice">Gia min</label>
                    </div>
                    <div class="col-md-6 col-12 p-3">
                        <input type="number" class="form-control" id="toPrice" placeholder="Nhap gia max" name="toPrice">
                        <label for="toPrice">Gia max</label>
                    </div>
                </div>
                <div class="form-floating mt-3 mb-3 ">
                    <button type="submit" class="btn btn-info">Tim kiem</button>
                </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Ten</th>
                <th>Gia</th>
                <th></th>
            </tr>
            <tr th:each="p :${products}">
                <td>
                    <img th:src="${p.image}" alt="alt" width="200" class="rounded"/>
                </td>
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price} + 'VND' "></td>
                <td>
                    <a th:href="@{'/products/' + ${p.id}}" class="btn btn-info">Cap nhat</a>
                    <button class="btn btn-danger">Xoa</button>
                </td>
            </tr>
        </table>

    </main>
    <div th:replace="base :: footer"></div>


</body>
</html>
