<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>QLSP</title>
    <th:context th:replace="base :: resources"></th:context>

</head>
<body >
    <h1 class="text-info text-center mt-2">Trang Quan Li San Pham</h1>
    <div th:replace="base :: header"></div>
    <div class="container container-fluid">
        <form th:action="@{/products}" method="post" enctype="multipart/form-data" th:object="${product}">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="name" placeholder="Enter ten san pham" th:field="*{name}">
                <label for="name">Ten san pham</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="number" class="form-control" id="price" placeholder="Enter gia san pham" th:field="*{price}" >
                <label for="price">Gia san pham</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <select class="form-select" id="cate" th:field="*{categoryId}">
                    <option th:each="c :${categories}" th:text="${c.name}" th:value="${c.id}"></option>
                </select>
                <label for="cate" class="form-label">Danh muc san pham</label>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input type="file" class="form-control" id="image" th:field="*{file}" >
                <label for="image">Chon anh</label>
            </div>
            <div class="form-floating mb-3 mt-3" th:if="${product.image != null}">
                <img th:src="${product.image}" width="300"/>
            </div>
            <div class="form-floating mb-3 mt-3">
                <button type="submit" class="btn btn-success">
                    <span th:if="$[product.id == null}">Them san pham</span>
                    <span th:if="$[product.id != null}>Cap nhat san pham</span>
                </button>
            </div>
        </form>

    </div>
    <div th:replace="base :: footer"></div>
</body>
</html>
